.editor-aside-header {
    padding: 1rem;
    img {
        width: 9rem;
    }
}

.editor-aside-close {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--ds-color-min);
    padding: 1rem;
}
