.header {
    padding: 0 0 1rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 7.5rem;
    }
}

.close {
    right: 0;
    top: 0;
    color: var(--ds-color-min);
    padding: 1.3rem 1rem;
    span svg {
        width: 1.3rem;
        color: var(--ds-color-editor-aside-icon);
    }
    span:first-child svg {
        width: 0.8rem;
    }
    &:hover span svg {
        color: var(--ds-color-min);
    }
}
