/* Default colors */
:root, .ds-light-mode {
    /* Colors */
    --ds-color-red-1: #fd636b;
    --ds-color-yellow-1: #ffb902;
    --ds-color-purple-1: #484a6f;
    --ds-color-dark-slate-blue-1: #6967ce;
    --ds-color-blue-1: #19afd0;
    --ds-color-blue-2: #141a26;
    --ds-color-gray-1: #9ca6af;
    --ds-color-gray-2: #cbd4db;
    --ds-color-gray-3: rgba(255,255,255,.16);
    --ds-color-gray-4: rgb(255 255 255 / 20%);
    --ds-color-gray-5: #fdfdfd;
    --ds-color-gray-6: #f6f8f9;
    --ds-color-min: #ffffff;
    --ds-color-max: #000000;

    /* Shadow */
    --ds-shadow-1: 0 1px 4px 0 rgba(21,27,38,.08);
    /* Components */
    --ds-color-editor-aside-bg: var(--ds-color-blue-2);
    --ds-color-editor-aside-icon: var(--ds-color-gray-1);
    --ds-color-editor-aside-list-text: var(--ds-color-gray-2);
    --ds-color-editor-aside-list-bg-selected: var(--ds-color-gray-3);
    --ds-color-editor-main-bg: var(--ds-color-gray-6);
    --ds-site-header-box-shadow: var(--ds-shadow-1);
}
