/* Default colors */
:root {
    --ds-color-red-1: #fd636b;
    --ds-color-yellow-1: #ffb902;
    --ds-color-purple-1: #484a6f;
    --ds-color-dark-slate-blue-1: #6967ce;
    --ds-color-blue-1: #19afd0;
}
